<div class="row">
  <div class="col-xs-12">
    <div *ngIf="this.isLogged">
      <a class="active" href="#"  [routerLink]="['/']">| Quotes</a> 
      <a href="#"  [routerLink]="['/new-quote']">| Adicionar uma nova Quote </a> 
      <a href="#"  (click)="this.logout()" [routerLink]="['/signin']">| Logout </a> 
    </div>
    <div *ngIf="!this.isLogged">
      <a href="#"  [routerLink]="['/signup']">| Registrar </a>
      <a href="#" [routerLink]="['/signin']">| Logar </a> 
    </div>
  </div>
</div>