<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Realize</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngIf="this.isLogged">
        <li class="nav-item">
          <a class="nav-link" href="#" activeRoute [routerLink]="['/']">Quotes</a> 
        </li>
        <li class="nav-item">
          <a  class="nav-link" href="#" activeRoute [routerLink]="['/new-quote']">Adicionar uma nova Quote </a> 
        </li>
        <li class="nav-item">
          <a class="nav-link"href="#" activeRoute [routerLink]="['/categorias']">Categorias </a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" activeRoute (click)="this.logout()" [routerLink]="['/signin']">Logout </a> 
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="!this.isLogged">
        <li class="nav-item active">
          <a class="nav-link" href="#" activeRoute  [routerLink]="['/signup']"> Registrar </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" activeRoute [routerLink]="['/signin']"> Logar </a> 
        </li>
      </ul>
    </div>
  </nav>