	<div class="col-sm">{{quote.id}}</div>
	<div class="col-sm">
		<!-- <div *ngIf="editing"> -->
			{{quote.content}}
		<!-- </div> -->
		<!-- <div *ngIf="!editing"> -->
			<!-- <input type="text" [(ngModel)]="editValue">	 -->
			<!-- <a href="#/" (click)="onUpdate()">Salvar</a> -->
			<!-- <a href="#/" (click)="onCancel()">Cancelar</a> -->
		<!-- </div> -->
	</div>
	<div class="col-sm">
			
		<!-- <a href="#/" (click)="onEdit()">Editar</a> -->
		<!-- <a href="#/" (click)="onDelete()">Deletar</a> -->
	</div>